langchain==0.3.27
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-cohere
langchain-community
transformers
sentence-transformers==5.1.2
sentencepiece
nltk
numpy
tqdm
pyyaml
python-dotenv
torch